.about {
  width: 100%;
  background: var(--white-color);

  &__container {
    width: 100%;
    color: var(--gray_amber-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 80px;
    padding-bottom: 80px;

    @include mobile {
      padding-top: 50px;
      padding-bottom: 50px;
      gap: 11.5px;
    }
  }

  &__h2 {
    color: var(--gray_amber-color);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;

    @include mobile {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 38px;
    }
  }

  &__p {
    color: var(--gray_amber-color);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    width: 1080px;

    @include tablet {
      width: 925px;
    }

    @include small-tablet {
      width: 666px;
    }

    @include mobile {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      width: 290px;
    }
  }
}
