.burger-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background: var(--black-color-90);
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 250ms var(--default-cubic),
    opacity 250ms var(--default-cubic),
    visibility 250ms var(--default-cubic);

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 37px;
    flex-direction: column;
    position: relative;

    @include small-tablet {
      margin-top: 38px;
    }

    @include mobile {
      margin-top: 16px;
    }
  }

  &__close {
    width: 29px;
    height: 29px;
    background: transparent;
    border: none;
    outline: none;

    @include mobile {
      width: 15px;
      height: 15px;
    }

    &-svg {
      width: 100%;
      height: 100%;
      fill: var(--white-color);
    }
  }

  &__nav {
    display: flex;
    margin-top: 53px;

    @include mobile {
      margin-top: 32px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include mobile {
        gap: 6px;
      }
    }

    &-item {
      color: var(--white-color);
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 64px;

      @include mobile {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
      }

      & a {
        color: var(--white-color);
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 64px;

        @include mobile {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 32px;
        }
      }
    }
  }

  &__login {
    width: 257px;
    height: 60px;
    border: solid 2px var(--amethyst-color);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background: transparent;
    border-radius: 100px;
    position: absolute;
    bottom: 50px;

    @include mobile {
      width: 115px;
      height: 40px;
      gap: 4px;
    }

    &-svg {
      width: 13px;
      height: 13px;
      fill: var(--white-color);

      @include mobile {
        width: 9px;
        height: 9px;
      }
    }

    &-text {
      color: var(--white-color);
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;

      @include mobile {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}


.menu--active {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
