.events {
  width: 100%;
  background: var(--white-color);

  &__container {
    display: flex;
    flex-direction: column;
    background: var(--white-color);
    padding-top: 80px;

    @include mobile {
      padding-top: 50px;
    }
  }

  &__h2 {
    color: var(--gray_amber-color);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 16px;

    @include mobile {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 12px;
    }
  }

  & .swiper-wrap {
    width: 1600px;
    position: relative;

    @include tablet {
      width: 924px;
    }

    @include small-tablet {
      width: 668px;
    }

    @include mobile {
      width: 290px;
    }

    & .swiper-button-events {
      width: 100%;
      position: absolute;
      top: 325px;
      z-index: 9;

      @include tablet {
        display: none;
      }

      @include small-tablet {
        display: none;
      }

      @include mobile {
        display: none;
      }

      & .swiper-button-prev-events,
      & .swiper-button-next-events {
        position: absolute;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--isabelline-color);
        border-radius: 50%;
        border: solid 2px var(--isabelline-color);
        cursor: pointer;
        transition: border 150ms var(--default-cubic),
          opacity 250ms var(--default-cubic),
          visibility 250ms var(--default-cubic),
          background 250ms var(--default-cubic);

        &.swiper-button-disabled {
          opacity: 0;
          visibility: hidden;
        }

        &:hover {
          background: var(--bright_ube-color);
          border: solid 2px var(--bright_ube-color);
        }

        &:active {
          background: var(--bright_ube-color);
          border: solid 2px var(--royal_purple-color);
        }

        &:focus {
          border: solid 2px var(--royal_purple-color);
        }

        & svg {
          width: 11.79px;
          height: 11.79px;
          border-bottom: solid 1px var(--black-color);
          border-right: solid 1px var(--black-color);
          transform: rotateZ(135deg) translateX(-1.5px) translateY(-1.5px);
          cursor: pointer;
        }
      }

      & .swiper-button-prev-events {
        left: -25px;
      }

      & .swiper-button-next-events {
        right: -25px;

        & svg {
          transform: rotateZ(-45deg) translateX(-1.5px) translateY(-1.5px);
        }
      }
    }

    & .swiper-pagination-events {
      display: none;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
      width: 100%;

      @include tablet {
        display: flex;
      }

      @include small-tablet {
        display: flex;
      }

      @include mobile {
        display: flex;
      }

      & .swiper-pagination-bullet {
        margin-top: 30px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--pastel_gray-color);
        cursor: pointer;
        transition: background 250ms var(--default-cubic);

        @include mobile {
          margin-top: 20px;
        }

        &-active {
          background: var(--dim_gray-color);
          cursor: default;
        }

      }

    }
  }

  &__swiper {
    width: 100%;
    position: relative;
    overflow: hidden;

    &-wrapper {
      display: flex;
      width: 100%;
    }

    &-slide {
      display: flex;
      flex-direction: column;
      min-width: 500px;
      max-width: 500px;

      @include tablet {
        min-width: 290px;
        max-width: 290px;
      }

      @include small-tablet {
        min-width: 317px;
        max-width: 317px;
      }

      @include mobile {
        min-width: 290px;
        max-width: 290px;
      }

      &-img {
        width: 100%;
        height: 300px;

        @include tablet {
          height: 200px;
        }

        @include small-tablet {
          height: 200px;
        }

        @include mobile {
          height: 200px;
        }

        & img {
          display: flex;
          width: 100%;
          height: 100%;
          background: var(--black-color);
        }
      }

      &-text {
        width: 100%;
        height: 400px;
        border: solid 1px var(--pastel_gray-color);
        border-top: none;
        padding: 0 49px;
        position: relative;

        @include tablet {
          height: 483px;
          padding: 0 34px;
        }

        @include small-tablet {
          height: 483px;
          padding: 0 40px 0 34px;
        }

        @include mobile {
          height: 483px;
          padding: 0 33px 0 22px;
        }

        &-date {
          color: var(--signal_gray-color);
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          padding-top: 13px;

          @include tablet {
            text-align: end;
            padding-top: 14px;
          }

          @include small-tablet {
            text-align: end;
            padding-top: 14px;
            position: relative;
            left: 22px;
          }

          @include mobile {
            font-weight: 400;
            text-align: end;
            position: relative;
            padding-top: 18px;
            left: 16px;
          }
        }

        &-name {
          color: var(--gray_amber-color);
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 33px;
          margin-top: 13px;
          position: relative;
          top: 1px;

          @include tablet {
            margin-top: 4px;
          }

          @include small-tablet {
            margin-top: 4px;
          }

          @include mobile {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            margin-top: 8.5px;

            & span {
              display: none;
            }
          }
        }

        &-desc {
          color: var(--gray_amber-color);
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          margin-top: 10px;

          @include tablet {
            margin-top: 6px;
          }

          @include small-tablet {
            margin-top: 5px;
          }

          @include mobile {
            margin-top: 5.5px;
          }
        }

        &-more {
          width: 88px;
          height: 30px;
          display: flex;
          position: absolute;
          bottom: 41px;
          color: var(--amethyst-color);
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          background-image: linear-gradient(var(--amethyst-color), var(--amethyst-color));
          background-position: 25% 100%;
          background-repeat: no-repeat;
          background-size: 100% 1px;
          transition: background-size 250ms var(--default-cubic),
            color 300ms var(--default-cubic),
            background 150ms var(--default-cubic),
            outline 250ms var(--default-cubic),
            outline-offset 250ms var(--default-cubic);

            @include tablet {
              bottom: 49px;
            }

            @include small-tablet {
              bottom: 48px;
            }

            @include mobile {
              bottom: 50px;
              margin-left: 6px;
            }

          &:hover {
            color: var(--royal_purple-color);
            background-image: linear-gradient(var(--royal_purple-color), var(--royal_purple-color));
          }

          &:active {
            color: var(--gray_amber-color);
            background-image: linear-gradient(var(--gray_amber-color), var(--gray_amber-color));
          }
        }
      }
    }
  }
}
