.footer {
  width: 100%;
  height: 140px;
  background: var(--black-color);

  @include mobile {
    height: 132px;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 20px;
    }
  }

  &__logo {
    width: 173px;
    height: 39.9px;

    @include mobile {
      width: 96.8px;
      height: 22px;
    }

    & svg {
      width: 100%;
      height: 100%;
      fill: var(--white-color);
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    top: -0.5px;

    &-vk,
    &-ok {
      width: 45px;
      height: 45px;
      cursor: pointer;

      @include tablet {
        width: 60px;
        height: 60px;
      }

      @include small-tablet {
        width: 60px;
        height: 60px;
      }

      @include mobile {
        width: 50px;
        height: 50px;
      }

      &:hover {

        & svg {
          fill: var(--white-color);
        }
      }

      &:active {

        & svg {
          fill: var(--pastel_gray-color);
        }
      }

      & svg {
        width: 100%;
        height: 100%;
        fill: var(--pastel_gray-color);
        transition: fill 250ms var(--default-cubic);
      }
    }
  }
}
