<section class="about" id="about">
  <div class="about__container container">
    <h2 class="about__h2">О нас</h2>
    <p class="about__p">
      Ясность нашей позиции очевидна: семантический разбор внешних
      противодействий однозначно определяет каждого участника как способного
      принимать собственные решения касаемо распределения внутренних резервов
      и ресурсов. Не следует, однако, забывать, что высококачественный прототип
      будущего проекта влечёт за собой процесс внедрения и модернизации модели
      развития. Повседневная практика показывает, что высокое качество
      позиционных исследований создаёт необходимость включения
      в производственный план целого ряда внеочередных мероприятий с учётом
      комплекса распределения внутренних резервов и ресурсов. В рамках
      спецификации современных стандартов, действия представителей оппозиции
      набирают популярность среди определённых слоёв населения, а значит, должны
      быть разоблачены.
    </p>
  </div>
</section>
