<div class="burger-menu" data-menu>
  <div class="burger-menu__container container">
    <button class="burger-menu__close">
      <svg class="burger-menu__close-svg" data-menu-overlay>
        <use xlink:href="img/sprite.svg#x"></use>
      </svg>
    </button>

    <nav class="burger-menu__nav" title="navihation">
      <ul class="burger-menu__nav-list list-reset">
        <li class="burger-menu__nav-item">
          <a href="#about" class="burger-menu__nav-link" data-scroll data-menu-item>О нас</a>
        </li>
        <li class="burger-menu__nav-item">
          <a href="#galery" class="burger-menu__nav-link" data-scroll data-menu-item>Галерея</a>
        </li>
        <li class="burger-menu__nav-item">
          <a href="#catalog" class="burger-menu__nav-link" data-scroll data-menu-item>Каталог</a>
        </li>
        <li class="burger-menu__nav-item">
          <a href="#events" class="burger-menu__nav-link" data-scroll data-menu-item>События</a>
        </li>
        <li class="burger-menu__nav-item">
          <a href="#project" class="burger-menu__nav-link" data-scroll data-menu-item>Проекты</a>
        </li>
        <li class="burger-menu__nav-item">
          <a href="#contact" class="burger-menu__nav-link" data-scroll data-menu-item>Контакты</a>
        </li>
      </ul>
    </nav>

    <button class="burger-menu__login" data-menu-item>
      <svg class="burger-menu__login-svg">
        <use xlink:href="img/sprite.svg#login"></use>
      </svg>
      <span class="burger-menu__login-text">Войти</span>
    </button>

  </div>
</div>
