


<div class="wrapper">
  <label class="task-collapse">
    <input type="radio" class="toggle-collapse" name="catalog"  value="1400" checked/>
    <div class="heading">
      <span class="heading__text">С 1400 по 1499 гг</span>
      <div class="heading__btn">
        <svg class="heading__btn-svg"></svg>
      </div>
    </div>
    <div class="collapse">
      <div class="content">
        <ul class="list-reset content__list">
          <li class="content__item"><a class="content__item-a active" href="##">Бенедетто ди Биндо</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Бергоньоне, Амброджо</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Биссоло, Франческо</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Больтраффио, Джованни</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Бонсиньори, Франческо</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Боттичини, Рафаэлло</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Брамантино</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Бреа, Людовико</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Бьяджо д’Антонио Туччи</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Андреа Верроккьо</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Доменико Гирландайо</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Беноццо Гоццоли</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Граначчи, Франческо</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Грегорио ди Чекко</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Джованни да Удине</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Джованни ди Паоло</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Джорджоне</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Парентино, Бернардо</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Пезеллино</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Пьетро Перуджино</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Перуцци, Бальдассаре</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Пизанелло</a></li>
          <li class="content__item"><a class="content__item-a" href="##">Пинтуриккьо</a></li>
        </ul>
      </div>
    </div>
  </label>
  <label class="task-collapse">
    <input type="radio" class="toggle-collapse" name="catalog"  value="1500" />
    <div class="heading">
      <span class="heading__text">С 1500 по 1599 гг</span>
      <div class="heading__btn">
        <svg class="heading__btn-svg"></svg>
      </div>
    </div>
    <div class="collapse">
      <div class="content">
        <div class="content__rect"></div>
        <div class="content__text">
          <h3 class="content__text-h3">Здесь пока пусто</h3>
          <p class="content__text-p">А в галерее вы всегда можете найти что-то интересное для себя</p>
          <a href="#galery" class="content__text-a" data-scroll>В галерею</a>
        </div>
      </div>
    </div>
  </label>
  <label class="task-collapse">
    <input type="radio" class="toggle-collapse" name="catalog"  value="1600" />
    <div class="heading">
      <span class="heading__text">С 1600 по 1699 гг</span>
      <div class="heading__btn">
        <svg class="heading__btn-svg"></svg>
      </div>
    </div>
    <div class="collapse">
      <div class="content">
        <div class="content__rect"></div>
        <div class="content__text">
          <h3 class="content__text-h3">Здесь пока пусто</h3>
          <p class="content__text-p">А в галерее вы всегда можете найти что-то интересное для себя</p>
          <a href="#galery" class="content__text-a" data-scroll>В галерею</a>
        </div>
      </div>
    </div>
  </label>
  <label class="task-collapse">
    <input type="radio" class="toggle-collapse" name="catalog"  value="1700" />
    <div class="heading">
      <span class="heading__text">С 1700 по 1799 гг</span>
      <div class="heading__btn">
        <svg class="heading__btn-svg"></svg>
      </div>
    </div>
    <div class="collapse">
      <div class="content">
        <div class="content__rect"></div>
        <div class="content__text">
          <h3 class="content__text-h3">Здесь пока пусто</h3>
          <p class="content__text-p">А в галерее вы всегда можете найти что-то интересное для себя</p>
          <a href="#galery" class="content__text-a" data-scroll>В галерею</a>
        </div>
      </div>
    </div>
  </label>
  <label class="task-collapse">
    <input type="radio" class="toggle-collapse" name="catalog"  value="1800" />
    <div class="heading">
      <span class="heading__text">С 1800 по 1899 гг</span>
      <div class="heading__btn">
        <svg class="heading__btn-svg"></svg>
      </div>
    </div>
    <div class="collapse">
      <div class="content">
        <div class="content__rect"></div>
        <div class="content__text">
          <h3 class="content__text-h3">Здесь пока пусто</h3>
          <p class="content__text-p">А в галерее вы всегда можете найти что-то интересное для себя</p>
          <a href="#galery" class="content__text-a" data-scroll>В галерею</a>
        </div>
      </div>
    </div>
  </label>
  <label class="task-collapse">
    <input type="radio" class="toggle-collapse" name="catalog"  value="1900" />
    <div class="heading">
      <span class="heading__text">С 1900 по 1999 гг</span>
      <div class="heading__btn">
        <svg class="heading__btn-svg"></svg>
      </div>
    </div>
    <div class="collapse">
      <div class="content">
        <div class="content__rect"></div>
        <div class="content__text">
          <h3 class="content__text-h3">Здесь пока пусто</h3>
          <p class="content__text-p">А в галерее вы всегда можете найти что-то интересное для себя</p>
          <a href="#galery" class="content__text-a" data-scroll>В галерею</a>
        </div>
      </div>
    </div>
  </label>
  <label class="task-collapse">
    <input type="radio" class="toggle-collapse" name="catalog"  value="2000" />
    <div class="heading">
      <span class="heading__text">С 2000 г</span>
      <div class="heading__btn">
        <svg class="heading__btn-svg"></svg>
      </div>
    </div>
    <div class="collapse">
      <div class="content">
        <div class="content__rect"></div>
        <div class="content__text">
          <h3 class="content__text-h3">Здесь пока пусто</h3>
          <p class="content__text-p">А в галерее вы всегда можете найти что-то интересное для себя</p>
          <a href="#galery" class="content__text-a" data-scroll>В галерею</a>
        </div>
      </div>
    </div>
  </label>
</div>
