<section class="contact" id="contact">
  <div class="contact__container container">
    <div class="contact__up">
      <div class="contact__up-locate">
        <h3 class="contact__up-locate-h3">Шоурум №4</h3>
        <p class="contact__up-locate-p">Леонтьевский переулок, дом 5/1</p>
      </div>
      <form action="#" class="form contact__up-form">
        <label class="form__label contact__up-form-label">
          <input type="text" name="Имя" class="input-reset form__input contact__up-form-name" placeholder="Имя*">
        </label>
        <label class="form__label contact__up-form-label">
          <input type="tel" id="phone" name="phone" class="input-reset form__input contact__up-form-phone"
            pattern="\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}" required placeholder="Телефон*">
        </label>
        <button class="btn-reset form__btn contact__up-form-btn">Заказать обратный звонок</button>
      </form>
      <div class="contact__up-connect">
        <p class="contact__up-connect-h3">Связаться в один клик</p>
        <div class="contact__up-connect-svg">
          <a href="#no-scrolling" class="contact__up-connect-svg-container">
            <div class="contact__up-connect-svg-container-viber">
              <svg>
                <use xlink:href="img/sprite.svg#viber"></use>
              </svg>
            </div>
          </a>
          <a href="#no-scrolling" class="contact__up-connect-svg-container">
            <div class="contact__up-connect-svg-container-tg">
              <svg>
                <use xlink:href="img/sprite.svg#tg"></use>
              </svg>
            </div>
          </a>




        </div>
      </div>
    </div>
  </div>
  <div class="contact__map" id="map"></div>
</section>
