<section class="events" id="events">
  <div class="events__container container">
    <div class="events__h2">События</div>
    <div class="swiper-wrap">
      <div class="swiper-button-events">
        <div class="swiper-button-prev-events swiper-button-disabled">
          <svg></svg>
        </div>
        <div class="swiper-button-next-events swiper-button-disabled">
          <svg></svg>
        </div>
      </div>
      <div class="swiper events__swiper">
        <div class="swiper-wrapper events__swiper-wrapper">
          <div class="swiper-slide events__swiper-slide">
            <div class="events__swiper-slide-img">
              <picture>
                <source srcset="img/events/1.avif" type="image/avif" />
                <source srcset="img/events/1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/events/1.jpg"
                  class="image"
                  width="500"
                  height="300"
                  alt="events image"
                />
              </picture>
            </div>
            <div class="events__swiper-slide-text">
              <p class="events__swiper-slide-text-date">
                Музей им. Щусева<br />с 20 марта по 30 апреля
              </p>
              <h3 class="events__swiper-slide-text-name">
                Книжная гравюра в<span> живом</span>&#32восприятии
              </h3>
              <p class="events__swiper-slide-text-desc">
                Один из ведущих флорентийских художников Кватроченто, основатель
                художественной династии, которую продолжили его брат Давид
                и сын Ридольфо
              </p>
              <a href="##" class="events__swiper-slide-text-more">Подробнее</a>
            </div>
          </div>
          <div class="swiper-slide events__swiper-slide">
            <div class="events__swiper-slide-img">
              <picture>
                <source srcset="img/events/2.avif" type="image/avif" />
                <source srcset="img/events/2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/events/2.jpg"
                  class="image"
                  width="500"
                  height="300"
                  alt="events image"
                />
              </picture>
            </div>
            <div class="events__swiper-slide-text">
              <p class="events__swiper-slide-text-date">
                ММОМА<br />24 марта 19:00
              </p>
              <h3 class="events__swiper-slide-text-name">
                «Открытая дискуссия». Дмитрий Петров и Сергей Ильин.
              </h3>
              <p class="events__swiper-slide-text-desc">
                Высокий уровень вовлечения представителей целевой аудитории
                является чётким доказательством простого факта
              </p>
              <a href="##" class="events__swiper-slide-text-more">Подробнее</a>
            </div>
          </div>
          <div class="swiper-slide events__swiper-slide">
            <div class="events__swiper-slide-img">
              <picture>
                <source srcset="img/events/3.avif" type="image/avif" />
                <source srcset="img/events/3.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/events/3.jpg"
                  class="image"
                  width="500"
                  height="300"
                  alt="events image"
                />
              </picture>
            </div>
            <div class="events__swiper-slide-text">
              <p class="events__swiper-slide-text-date">
                Еврейский музей<br />
                с 31 марта по 21 апреля
              </p>
              <h3 class="events__swiper-slide-text-name">
                Выставка «Формация 2020»
              </h3>
              <p class="events__swiper-slide-text-desc">
                Идейные соображения высшего порядка, а также современная
                методология разработки играет важную роль в формировании
                глубокомысленных рассуждений
              </p>
              <a href="##" class="events__swiper-slide-text-more">Подробнее</a>
            </div>
          </div>
          <div class="swiper-slide events__swiper-slide">
            <div class="events__swiper-slide-img">
              <picture>
                <source srcset="img/events/4.avif" type="image/avif" />
                <source srcset="img/events/4.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/events/4.jpg"
                  class="image"
                  width="500"
                  height="300"
                  alt="events image"
                />
              </picture>
            </div>
            <div class="events__swiper-slide-text">
              <p class="events__swiper-slide-text-date">
                ММАМ<br />
                с 8 апреля по 20 мая
              </p>
              <h3 class="events__swiper-slide-text-name">
                Джон Винзор. Фотографии из серии «Метафора»
              </h3>
              <p class="events__swiper-slide-text-desc">
                Один из ведущих флорентийских художников Кватроченто, основатель
                художественной династии, которую продолжили его брат Давид
                и сын Ридольфо
              </p>
              <a href="##" class="events__swiper-slide-text-more">Подробнее</a>
            </div>
          </div>
          <div class="swiper-slide events__swiper-slide">
            <div class="events__swiper-slide-img">
              <picture>
                <source srcset="img/events/5.avif" type="image/avif" />
                <source srcset="img/events/5.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/events/5.jpg"
                  class="image"
                  width="500"
                  height="300"
                  alt="events image"
                />
              </picture>
            </div>
            <div class="events__swiper-slide-text">
              <p class="events__swiper-slide-text-date">
                Третьяковка на Крымском валу<br />
                с 30 марта по 30 апреля
              </p>
              <h3 class="events__swiper-slide-text-name">
                XXIV Международная биеннале молодого искусства
              </h3>
              <p class="events__swiper-slide-text-desc">
                Внезапно, реплицированные с зарубежных источников, современные
                исследования
              </p>
              <a href="##" class="events__swiper-slide-text-more">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-events"></div>
    </div>
  </div>
</section>
