<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="galery-1">
    <div class="graph-modal__img">
      <picture>
        <source srcset="img/galery/1.webp" type="image/webp">
        <source srcset="img/galery/1.avif" type="image/avif">
        <img loading="lazy" src="img/galery/1.jpg" class="image" width="400" height="500" alt="modal img">
      </picture>
    </div>
    <div class="js-modal-close graph-modal__close">
      <button class="btn-reset graph-modal__close-btn" aria-label="Закрыть модальное окно">
        <svg class="graph-modal__close-btn-svg">
          <use xlink:href="img/sprite.svg#x2"></use>
        </svg>
      </button>
    </div>
    <div class="graph-modal__container-content">
      <div class="graph-modal__container-content-text">
        <h3 class="graph-modal__container-content-text-name">
          Казимир Малевич
        </h3>
        <h4 class="graph-modal__container-content-text-item">
          «Фигура с розовым лицом»
        </h4>
        <span class="graph-modal__container-content-text-years">1928-2929</span>
        <p class="graph-modal__container-content-text-desc">
          Эти странные безликие "полуобразы" (так называл подобные работы сам
          художник), зашифрованные в женских фигурах и торсах, существуют по
          мысли К.Малевича, в параллельном мире, в пределах вымышленного
          художником Космоса, в пространстве без времени. Произведение вызывает
          ассоциации и с пластикой архаической скульптуры, и с деревянной
          игрушкой, и с модернистским манекеном.
        </p>
      </div>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="galery-2">
    <div class="graph-modal__img">
      <picture>
        <source srcset="img/galery/2.webp" type="image/webp">
        <source srcset="img/galery/2.avif" type="image/avif">
        <img loading="lazy" src="img/galery/2.jpg" class="image" width="400" height="500" alt="modal img">
      </picture>
    </div>
    <div class="js-modal-close graph-modal__close">
      <button class="btn-reset graph-modal__close-btn" aria-label="Закрыть модальное окно">
        <svg class="graph-modal__close-btn-svg">
          <use xlink:href="img/sprite.svg#x2"></use>
        </svg>
      </button>
    </div>
    <div class="graph-modal__container-content">
      <div class="graph-modal__container-content-text">
        <h3 class="graph-modal__container-content-text-name">
          Казимир Малевич
        </h3>
        <h4 class="graph-modal__container-content-text-item">
          «Женщина с граблями»
        </h4>
        <span class="graph-modal__container-content-text-years">1931-2932</span>
        <p class="graph-modal__container-content-text-desc">
          Картина из второй серии крестьянского цикла работ Казимира Малевича.
          Художник принялся за её создание в 1930–1931 годах, после того,
          как первый цикл был утерян после Берлинской и Варшавской выставок
          в 1927 году.
        </p>
      </div>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="galery-3">
    <div class="graph-modal__img">
      <picture>
        <source srcset="img/galery/3.webp" type="image/webp">
        <source srcset="img/galery/3.avif" type="image/avif">
        <img loading="lazy" src="img/galery/3.jpg" class="image" width="400" height="500" alt="modal img">
      </picture>
    </div>
    <div class="js-modal-close graph-modal__close">
      <button class="btn-reset graph-modal__close-btn" aria-label="Закрыть модальное окно">
        <svg class="graph-modal__close-btn-svg">
          <use xlink:href="img/sprite.svg#x2"></use>
        </svg>
      </button>
    </div>
    <div class="graph-modal__container-content">
      <div class="graph-modal__container-content-text">
        <h3 class="graph-modal__container-content-text-name">
          Казимир Малевич
        </h3>
        <h4 class="graph-modal__container-content-text-item">«Уборка ржи»</h4>
        <span class="graph-modal__container-content-text-years">1912</span>
        <p class="graph-modal__container-content-text-desc">
          Образы крестьянской жизни, образы сельского труда, воплощенные
          художником отличаются пронзительной нотой драматизма, о котором
          Малевичу и в голову не приходило помышлять ранее. Одной из наиболее
          заметных черт его постсупрематической живописи стала безликость людей;
          вместо лиц и голов их корпуса увенчаны красными, черными, белыми
          овалами.
        </p>
      </div>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="galery-4">
    <div class="graph-modal__img">
      <picture>
        <source srcset="img/galery/4.webp" type="image/webp">
        <source srcset="img/galery/4.avif" type="image/avif">
        <img loading="lazy" src="img/galery/4.jpg" class="image" width="400" height="500" alt="modal img">
      </picture>
    </div>
    <div class="js-modal-close graph-modal__close">
      <button class="btn-reset graph-modal__close-btn" aria-label="Закрыть модальное окно">
        <svg class="graph-modal__close-btn-svg">
          <use xlink:href="img/sprite.svg#x2"></use>
        </svg>
      </button>
    </div>
    <div class="graph-modal__container-content">
      <div class="graph-modal__container-content-text">
        <h3 class="graph-modal__container-content-text-name">
          Иван Васильевич Клюн
        </h3>
        <h4 class="graph-modal__container-content-text-item">«Супрематизм»</h4>
        <span class="graph-modal__container-content-text-years">1915</span>
        <p class="graph-modal__container-content-text-desc">
          Описание пока что отсутствует. Следите за обновлениями на Бланчарде
        </p>
      </div>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="galery-5">
    <div class="graph-modal__img">
      <picture>
        <source srcset="img/galery/5.webp" type="image/webp">
        <source srcset="img/galery/5.avif" type="image/avif">
        <img loading="lazy" src="img/galery/5.jpg" class="image" width="400" height="500" alt="modal img">
      </picture>
    </div>
    <div class="js-modal-close graph-modal__close">
      <button class="btn-reset graph-modal__close-btn" aria-label="Закрыть модальное окно">
        <svg class="graph-modal__close-btn-svg">
          <use xlink:href="img/sprite.svg#x2"></use>
        </svg>
      </button>
    </div>
    <div class="graph-modal__container-content">
      <div class="graph-modal__container-content-text">
        <h3 class="graph-modal__container-content-text-name">
          Казимир Малевич
        </h3>
        <h4 class="graph-modal__container-content-text-item">
          «Женщина с ведрами»
        </h4>
        <span class="graph-modal__container-content-text-years">1912</span>
        <p class="graph-modal__container-content-text-desc">
          В произведении еще более последовательно выражено устремление
          художника к установлению однородных элементов формы (в данном случае
          конусообразных) как некоего строительного материала. Граница
          беспредметности еще более приблизилась – сюжет и предмет почти
          исчезли. Полностью была подготовлена почва, которой воспользовались
          многие современники Малевича в середине 1910-х годов, прямо перейдя от
          системы, воплощенной в "Женщине с ведрами", к концепции
          беспредметности.
        </p>
      </div>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="galery-6">
    <div class="graph-modal__img">
      <picture>
        <source srcset="img/galery/6.webp" type="image/webp">
        <source srcset="img/galery/6.avif" type="image/avif">
        <img loading="lazy" src="img/galery/6.jpg" class="image" width="400" height="500" alt="modal img">
      </picture>
    </div>
    <div class="js-modal-close graph-modal__close">
      <button class="btn-reset graph-modal__close-btn" aria-label="Закрыть модальное окно">
        <svg class="graph-modal__close-btn-svg">
          <use xlink:href="img/sprite.svg#x2"></use>
        </svg>
      </button>
    </div>
    <div class="graph-modal__container-content">
      <div class="graph-modal__container-content-text">
        <h3 class="graph-modal__container-content-text-name">
          Казимир Малевич
        </h3>
        <h4 class="graph-modal__container-content-text-item">
          «Супрематическая композиция»
        </h4>
        <span class="graph-modal__container-content-text-years">1916</span>
        <p class="graph-modal__container-content-text-desc">
          «Супрематическая композиция (синий прямоугольник поверх красного
          луча)» – картина удивительной судьбы. Она волшебным образом
          просочилась сквозь советский железный занавес, чудом избежала
          фашистских аутодафе, побывала за океаном, пережила кровопролитные
          судебные тяжбы и, в конце концов, оказалась на аукционе Sotheby’s,
          став одним из самых (а, скорее всего, самым) дорогим произведением в
          истории русского искусства. Просто удивительно, что о ее мытарствах до
          сих пор не снял фильм Стивен Спилберг.
        </p>
      </div>
    </div>
  </div>
</div>
