<section class="galery" id="galery">
  <div class="galery__container container">
    <div class="galery__filter">
      <h2 class="galery__filter-h2">Галерея</h2>
      <div class="galery__filter-dropdown">
        <p class="galery__filter-dropdown-p">Фильтр:</p>
        <div class="filter-dropdown">
          <div class="select">
            <span>Живопись</span>
            <i class="fa fa-chevron-left">
              <svg></svg>
            </i>
          </div>
          <input type="hidden" name="filter">
          <div class="filter-dropdown-menu">
            <ul class="filter-dropdown-container">
              <li id="risunok">Рисунок</li>
              <li id="skulpt">Скульптура</li>
              <li id="jivopis">Живопись</li>
            </ul>
          </div>
        </div>
      </div>
      <form action="#" class="galery__filter-form form"></form>
      <div class="form__radio">
        <label class="form__label form__label-radio element-animation-l">
          <input type="checkbox" name="checkbox" class="form__input form__radio" value="xix" checked>
          <span class="form__radio-fake"></span>
          <span class="form__radio-text">XIX век</span>
        </label>

        <label class="form__label form__label-radio element-animation">
          <input type="checkbox" name="checkbox" class="form__input form__radio" value="xx" checked>
          <span class="form__radio-fake"></span>
          <span class="form__radio-text">XX век</span>
        </label>

        <label class="form__label form__label-radio element-animation">
          <input type="checkbox" name="checkbox" class="form__input form__radio" value="realy" checked>
          <span class="form__radio-fake"></span>
          <span class="form__radio-text">Современность</span>
        </label>
      </div>
    </div>
    <div class="swiper galery__swiper">
      <div class="swiper-nav">
        <div class="swiper-button-prev swiper-button-disabled">
          <svg class="swiper-button-prev-svg"></svg>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next swiper-button-disabled">
          <svg class="swiper-button-next-svg"></svg>
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__wrap" data-graph-path="galery-1">
            <picture>
              <source srcset="img/galery/1.webp" type="image/webp">
              <source srcset="img/galery/1.avif" type="image/avif">
              <img loading="lazy" src="img/galery/1.jpg" class="image" width="350" height="350" alt="slide img">
            </picture>
            <!-- <div class="swiper-slide__wrap-active"></div> -->
            <div class="swiper-slide__wrap-hover" data-graph-path="galery-1">
              <svg class="swiper-slide__wrap-hover-svg">
                <use xlink:href="img/sprite.svg#loop"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__wrap" data-graph-path="galery-2">
            <picture>
              <source srcset="img/galery/2.webp" type="image/webp">
              <source srcset="img/galery/2.avif" type="image/avif">
              <img loading="lazy" src="img/galery/2.jpg" class="image" width="350" height="350" alt="slide img">
            </picture>
            <!-- <div class="swiper-slide__wrap-active"></div> -->
            <div class="swiper-slide__wrap-hover" data-graph-path="galery-2">
              <svg class="swiper-slide__wrap-hover-svg">
                <use xlink:href="img/sprite.svg#loop"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__wrap" data-graph-path="galery-3">
            <picture>
              <source srcset="img/galery/3.webp" type="image/webp">
              <source srcset="img/galery/3.avif" type="image/avif">
              <img loading="lazy" src="img/galery/3.jpg" class="image" width="350" height="350" alt="slide img">
            </picture>
            <!-- <div class="swiper-slide__wrap-active"></div> -->
            <div class="swiper-slide__wrap-hover" data-graph-path="galery-3">
              <svg class="swiper-slide__wrap-hover-svg">
                <use xlink:href="img/sprite.svg#loop"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__wrap" data-graph-path="galery-4">
            <picture>
              <source srcset="img/galery/4.webp" type="image/webp">
              <source srcset="img/galery/4.avif" type="image/avif">
              <img loading="lazy" src="img/galery/4.jpg" class="image" width="350" height="350" alt="slide img">
            </picture>
            <!-- <div class="swiper-slide__wrap-active"></div> -->
            <div class="swiper-slide__wrap-hover" data-graph-path="galery-4">
              <svg class="swiper-slide__wrap-hover-svg">
                <use xlink:href="img/sprite.svg#loop"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__wrap" data-graph-path="galery-5">
            <picture>
              <source srcset="img/galery/5.webp" type="image/webp">
              <source srcset="img/galery/5.avif" type="image/avif">
              <img loading="lazy" src="img/galery/5.jpg" class="image" width="350" height="350" alt="slide img">
            </picture>
            <!-- <div class="swiper-slide__wrap-active"></div> -->
            <div class="swiper-slide__wrap-hover" data-graph-path="galery-5">
              <svg class="swiper-slide__wrap-hover-svg">
                <use xlink:href="img/sprite.svg#loop"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__wrap" data-graph-path="galery-6">
            <picture>
              <source srcset="img/galery/6.webp" type="image/webp">
              <source srcset="img/galery/6.avif" type="image/avif">
              <img loading="lazy" src="img/galery/6.jpg" class="image" width="350" height="350" alt="slide img">
            </picture>
            <!-- <div class="swiper-swiper-slide__wrap-active"></div> -->
            <div class="swiper-slide__wrap-hover" data-graph-path="galery-6">
              <svg class="swiper-slide__wrap-hover-svg">
                <use xlink:href="img/sprite.svg#loop"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
