<header class="header">
  <div class="header__container container">
    <button
      class="burger header__burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <svg class="header__burger-svg">
        <use xlink:href="img/sprite.svg#burger"></use>
      </svg>
    </button>
    <a class="header__logo">
      <svg class="header__logo-svg">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <div action="#" class="form header__search">
      <button class="btn-reset form__btn" id="search-btn">
        <svg class="">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
      <label class="form__label" id="input-search">
        <input
          type="text"
          name="Search"
          class="input-reset form__input"
          placeholder="Поиск по сайту"
        />
      </label>
      <button class="btn-reset form__btn-x" id="close-btn">
        <svg class="">
          <use xlink:href="img/sprite.svg#x"></use>
        </svg>
      </button>
    </div>
    <nav class="header__nav" title="navihation">
      <ul class="header__nav-list list-reset">
        <li class="header__nav-item">
          <a href="#about" class="header__nav-link" data-scroll>О нас</a>
        </li>
        <li class="header__nav-item">
          <a href="#galery" class="header__nav-link" data-scroll>Галерея</a>
        </li>
        <li class="header__nav-item">
          <a href="#catalog" class="header__nav-link" data-scroll>Каталог</a>
        </li>
        <li class="header__nav-item">
          <a href="#events" class="header__nav-link" data-scroll>События</a>
        </li>
        <li class="header__nav-item">
          <a href="#project" class="header__nav-link" data-scroll>Проекты</a>
        </li>
        <li class="header__nav-item">
          <a href="#contact" class="header__nav-link" data-scroll>Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header__btn">
      <button class="header__btn-real" name="login button">
        <svg class="header__btn-real-svg">
          <use xlink:href="img/sprite.svg#login"></use>
        </svg>
        Войти
      </button>
    </div>
    <div class="header__dropdown">
      <div class="dropdown">
        <div class="select">
          <span>Реализм</span>
          <i class="fa fa-chevron-left">
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </i>
        </div>
        <input type="hidden" name="gender" />
        <div class="dropdown-menu">
          <ul class="dropdown-container">
            <li id="tint">
              <picture>
                <source srcset="img/dropdown/tint.avif" type="image/avif" />
                <source srcset="img/dropdown/tint.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/tint.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="tint"
                />
              </picture>
              <span>Тинторетто</span>
            </li>
            <li id="fridrih">
              <picture>
                <source srcset="img/dropdown/fridrih.avif" type="image/avif" />
                <source srcset="img/dropdown/fridrih.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/fridrih.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="fridrih"
                />
              </picture>
              <span>Фридрих</span>
            </li>
            <li id="leo">
              <picture>
                <source srcset="img/dropdown/leo.avif" type="image/avif" />
                <source srcset="img/dropdown/leo.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/leo.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="leo"
                />
              </picture>
              <span>Леонардо</span>
            </li>
            <li id="verrok">
              <picture>
                <source srcset="img/dropdown/verrok.avif" type="image/avif" />
                <source srcset="img/dropdown/verrok.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/verrok.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="verrok"
                />
              </picture>
              <span>Верроккьо</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="dropdown">
        <div class="select">
          <span>Импрессионизм</span>
          <i class="fa fa-chevron-left">
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </i>
        </div>
        <input type="hidden" name="gender" />
        <div class="dropdown-menu">
          <ul class="dropdown-container">
            <li id="mone">
              <picture>
                <source srcset="img/dropdown/mone.avif" type="image/avif" />
                <source srcset="img/dropdown/mone.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/mone.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="mone"
                />
              </picture>
              <span>Моне</span>
            </li>
            <li id="sisley">
              <picture>
                <source srcset="img/dropdown/sisley.avif" type="image/avif" />
                <source srcset="img/dropdown/sisley.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/sisley.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="sisley"
                />
              </picture>
              <span>Сислей</span>
            </li>
            <li id="mane">
              <picture>
                <source srcset="img/dropdown/mane.avif" type="image/avif" />
                <source srcset="img/dropdown/mane.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/mane.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="mane"
                />
              </picture>
              <span>Мане</span>
            </li>
            <li id="renuar">
              <picture>
                <source srcset="img/dropdown/renuar.avif" type="image/avif" />
                <source srcset="img/dropdown/renuar.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/renuar.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="renuar"
                />
              </picture>
              <span>Ренуар</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="dropdown">
        <div class="select">
          <span>Постимпрессионизм</span>
          <i class="fa fa-chevron-left">
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </i>
        </div>
        <input type="hidden" name="gender" />
        <div class="dropdown-menu">
          <ul class="dropdown-container">
            <li id="oneGog">
              <picture>
                <source srcset="img/dropdown/oneGog.avif" type="image/avif" />
                <source srcset="img/dropdown/oneGog.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/oneGog.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="oneGog"
                />
              </picture>
              <span>Ван Гог</span>
            </li>
            <li id="sezann">
              <picture>
                <source srcset="img/dropdown/sezann.avif" type="image/avif" />
                <source srcset="img/dropdown/sezann.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/sezann.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="sezann"
                />
              </picture>
              <span>Сезанн</span>
            </li>
            <li id="gogen">
              <picture>
                <source srcset="img/dropdown/gogen.avif" type="image/avif" />
                <source srcset="img/dropdown/gogen.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/gogen.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="gogen"
                />
              </picture>
              <span>Гоген</span>
            </li>
            <li id="serega">
              <picture>
                <source srcset="img/dropdown/serega.avif" type="image/avif" />
                <source srcset="img/dropdown/serega.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/serega.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="serega"
                />
              </picture>
              <span>Сёра</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="dropdown">
        <div class="select">
          <span>Авангард</span>
          <i class="fa fa-chevron-left">
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </i>
        </div>
        <input type="hidden" name="gender" />
        <div class="dropdown-menu">
          <ul class="dropdown-container">
            <li id="kandi">
              <picture>
                <source srcset="img/dropdown/kandi.avif" type="image/avif" />
                <source srcset="img/dropdown/kandi.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/kandi.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="kandi"
                />
              </picture>
              <span>Кандинский</span>
            </li>
            <li id="marina">
              <picture>
                <source srcset="img/dropdown/marina.avif" type="image/avif" />
                <source srcset="img/dropdown/marina.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/marina.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="marina"
                />
              </picture>
              <span>Маринетти</span>
            </li>
            <li id="malevich">
              <picture>
                <source srcset="img/dropdown/malevich.avif" type="image/avif" />
                <source srcset="img/dropdown/malevich.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/malevich.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="malevich"
                />
              </picture>
              <span>Малевич</span>
            </li>
            <li id="pikasso">
              <picture>
                <source srcset="img/dropdown/pikasso.avif" type="image/avif" />
                <source srcset="img/dropdown/pikasso.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/pikasso.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="pikasso"
                />
              </picture>
              <span>Пикассо</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="dropdown">
        <div class="select">
          <span>Футуризм</span>
          <i class="fa fa-chevron-left">
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </i>
        </div>
        <input type="hidden" name="gender" />
        <div class="dropdown-menu">
          <ul class="dropdown-container">
            <li id="kappa">
              <picture>
                <source srcset="img/dropdown/kappa.avif" type="image/avif" />
                <source srcset="img/dropdown/kappa.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/kappa.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="kappa"
                />
              </picture>
              <span>Карра</span>
            </li>
            <li id="prat">
              <picture>
                <source srcset="img/dropdown/prat.avif" type="image/avif" />
                <source srcset="img/dropdown/prat.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/prat.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="prat"
                />
              </picture>
              <span>Прателла</span>
            </li>
            <li id="sever">
              <picture>
                <source srcset="img/dropdown/sever.avif" type="image/avif" />
                <source srcset="img/dropdown/sever.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/sever.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="sever"
                />
              </picture>
              <span>Северини</span>
            </li>
            <li id="balla">
              <picture>
                <source srcset="img/dropdown/balla.avif" type="image/avif" />
                <source srcset="img/dropdown/balla.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/dropdown/balla.jpg"
                  class="image"
                  width="220"
                  height="40"
                  alt="balla"
                />
              </picture>
              <span>Балла</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header__srch">
      <button class="btn-reset form__btn header__srch-btn">
        <svg class="header__srch-btn-svg">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
      <form action="#" class="form header__srch-input">
        <label class="form__label">
          <input
            type="text"
            name="search"
            class="input-reset form__input"
            placeholder="Поиск по сайту"
          />
        </label>
      </form>
    </div>
  </div>
</header>
