<section class="hero">
  <div class="slider">
    <span class="source">img/slider/1.jpg</span>
    <span class="source">img/slider/2.jpg</span>
    <span class="source">img/slider/3.jpg</span>
  </div>
  <div class="hero__container container">
    <h2 class="hero__h2">Прикоснитесь к прекрасному</h2>
    <p class="hero__p">
      Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт предпосылки для новых
      предложений
    </p>
    <button class="hero__btn" name="подписаться на рассылку">
      Подписаться на рассылку
    </button>
  </div>
</section>
