<section class="project" id="project">
  <div class="project__container container">
    <h2 class="project__h2">Проекты</h2>
    <p class="project__p">
      Предварительные выводы: постоянное информационно—пропагандистское
      обеспечение нашей деятельности однозначно фиксирует необходимость
      своевременного выполнения сверхзадачи. А ещё независимые государства
      смешаны с не уникальными данными до степени совершённой неузнаваемости,
      из-за чего возрастает их статус бесполезности. Прежде всего, постоянное
      информационно-пропагандистское&#32<span class="tooltip" id="tooltip">
        <button class="tooltip__btn" aria-describedby="project__p-tooltip-1">
          <svg class="">
            <use xlink:href="img/sprite.svg#i"></use>
          </svg>
        </button>
          <span class="tooltip__txt" role="tooltip" id="project__p-tooltip-1">
            Пример современных тенденций — современная методология разработки
            <span id="arrow" data-popper-arrow></span>
          </span>
      </span>&#32
      обеспечение нашей деятельности однозначно фиксирует необходимость
      экономической целесообразности принимаемых решений. И нет сомнений,
      что действия представителей оппозиции могут быть рассмотрены&#32<span class="tooltip" id="tooltip">
        <button class="tooltip__btn" aria-describedby="project__p-tooltip-2">
          <svg class="">
            <use xlink:href="img/sprite.svg#i"></use>
          </svg>
        </button>
          <span class="tooltip__txt" role="tooltip" id="project__p-tooltip-2">
            Приятно, граждане, наблюдать, как сделанные на базе аналитики выводы вызывают у вас эмоции
            <span id="arrow" data-popper-arrow></span>
          </span>
      </span>&#32
      исключительно в разрезе маркетинговых и финансовых&#32<span class="tooltip" id="tooltip">
        <button class="tooltip__btn" aria-describedby="project__p-tooltip-3">
          <svg class="">
            <use xlink:href="img/sprite.svg#i"></use>
          </svg>
        </button>
          <span class="tooltip__txt" role="tooltip" id="project__p-tooltip-3">
            В стремлении повысить качество
            <span id="arrow" data-popper-arrow></span>
          </span>
      </span>&#32
      предпосылок. Банальные, но неопровержимые выводы, а также представители&NonBreakingSpace;
      современных социальных резервов призывают нас к новым свершениям, которые,
      в свою очередь, должны быть смешаны с не уникальными данными до степени
      совершённой неузнаваемости. Подробнее:
      <a href="./projects" target="_blank">blanchard-art.ru<span class="mdf-1">/projects<span class="mdf-2">/about</span></a>
    </p>
    <h3 class="project__h3">Партнёры проектов:</h3>

    <div class="project__swiper-wrap">
      <div class="swiper-button-prev-project swiper-button-disabled">
        <svg></svg>
      </div>
      <div class="swiper project__swiper">
        <div class="swiper-wrapper project__swiper-wrapper">
          <div
            class="swiper-slide project__swiper-wrapper-slide project-slide-1"
          >
            <picture>
              <source srcset="img/project/1.avif" type="image/avif" />
              <source srcset="img/project/1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/project/1.jpg"
                class="image"
                width="244"
                height="63"
                alt="project image"
              />
            </picture>
          </div>
          <div
            class="swiper-slide project__swiper-wrapper-slide project-slide-2"
          >
            <picture>
              <source srcset="img/project/2.avif" type="image/avif" />
              <source srcset="img/project/2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/project/2.jpg"
                class="image"
                width="330"
                height="59"
                alt="project image"
              />
            </picture>
          </div>
          <div
            class="swiper-slide project__swiper-wrapper-slide project-slide-3"
          >
            <picture>
              <source srcset="img/project/3.avif" type="image/avif" />
              <source srcset="img/project/3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/project/3.jpg"
                class="image"
                width="229"
                height="54"
                alt="project image"
              />
            </picture>
          </div>
          <div
            class="swiper-slide project__swiper-wrapper-slide project-slide-4"
          >
            <picture>
              <source srcset="img/project/4.avif" type="image/avif" />
              <source srcset="img/project/4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/project/4.jpg"
                class="image"
                width="123"
                height="85"
                alt="project image"
              />
            </picture>
          </div>
          <div
            class="swiper-slide project__swiper-wrapper-slide project-slide-5"
          >
            <picture>
              <source srcset="img/project/5.avif" type="image/avif" />
              <source srcset="img/project/5.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/project/5.jpg"
                class="image"
                width="173"
                height="85"
                alt="project image"
              />
            </picture>
          </div>
          <div
            class="swiper-slide project__swiper-wrapper-slide project-slide-6"
          >
            <picture>
              <source srcset="img/project/6.avif" type="image/avif" />
              <source srcset="img/project/6.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/project/6.jpg"
                class="image"
                width="252"
                height="70"
                alt="project image"
              />
            </picture>
          </div>
          <div
            class="swiper-slide project__swiper-wrapper-slide project-slide-7"
          >
            <picture>
              <source srcset="img/project/7.avif" type="image/avif" />
              <source srcset="img/project/7.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/project/7.jpg"
                class="image"
                width="286"
                height="69"
                alt="project image"
              />
            </picture>
          </div>
          <div
            class="swiper-slide project__swiper-wrapper-slide project-slide-8"
          >
            <picture>
              <source srcset="img/project/8.avif" type="image/avif" />
              <source srcset="img/project/8.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/project/8.jpg"
                class="image"
                width="185"
                height="81"
                alt="project image"
              />
            </picture>
          </div>
          <div
            class="swiper-slide project__swiper-wrapper-slide project-slide-9"
          >
            <picture>
              <source srcset="img/project/9.avif" type="image/avif" />
              <source srcset="img/project/9.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/project/9.jpg"
                class="image"
                width="229"
                height="62"
                alt="project image"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-button-next-project swiper-button-disabled">
        <svg></svg>
      </div>
    </div>
  </div>
</section>
