// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1600px;
  --container-offset: 160px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @media screen and (min-width: (1024px)) and (max-width: (1919px)) {
    --content-width: 924px;
    --container-offset: 50px;
  }

  @media screen and (min-width: (768px)) and (max-width: (1023px)) {
    --content-width: 668px;
    --container-offset: 50px;
  }


  @media screen and (min-width: (320px)) and (max-width: (767px)) {
    --content-width: 290px;
    --container-offset: 15px;
  }

  // colors
  --black-color: #000000;
  --black-color-90: rgba(0, 0, 0, 0.90);
  --black-color-50: rgba(0, 0, 0, 0.50);
  --black-color: #000000;
  --gray_amber-color: #333333;
  --dim_gray-color: #666666;
  --signal_gray-color: #999999;
  --bright_ube-color: #D1A9F0;
  --bright_lavender-color: #C283F3;
  --bright_lavender-color-07: rgba(194, 131, 243, 0.4);
  --amethyst-color: #9D5CD0;
  --royal_purple-color: #7943A4;
  --lime_green-color: #30BF39;
  --twitter-color: #26A5E4;
  --carnelian-color: #D11616;
  --pastel_gray-color: #CACACA;
  --isabelline-color: #ECECEC;
  --white-color: #FFFFFF;
  --white-color-85: rgba(255, 255, 255, 0.85);
  --white-color-20: rgba(255, 255, 255, 0.20);

  --default-cubic: cubic-bezier(.33,.83,.57,.83);
}
